<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

    <body>
        <% if (error) { %>
            <h1>
                <%= error %>
            </h1>
            <% } else { %>
                <h1>Weather in <%= city %>
                </h1>
                <div class="weather">
                    <p>
                        <%= description %>
                    </p>
                    <p>Temperature: <%= temp %> °F</p>
                    <img src="<%= iconURL %>" alt="Weather icon">
                </div>
                <% } %>
                    <br>
                    <div class="search-btn-div">
                        <a class="search-again-btn" href="/">Search again</a>
                    </div>

                    <%- include("partials/footer") %>

    </body>

</html>